<app-space-banner-default></app-space-banner-default>
<div class="container-fluid jj-font">
  <form #f="ngForm">
    <div class="form-group">
      <label for="username">
        Username
      </label>
      <input [(ngModel)]="username"
             name="username"
             id="username"
             type="text"
             placeholder="Username"
             class="form-control"/>
      <label for="email">
        Email
      </label>
      <input [(ngModel)]="email"
             name="email"
             id="email"
             type="email"
             placeholder="Email"
             class="form-control"
             email/>

      <label for="First Name">
        First Name
      </label>
      <input [(ngModel)]="firstName"
             name="First Name"
             id="First Name"
             type="text"
             placeholder="First Name"
             class="form-control"/>

      <label for="Last Name">
        Last Name
      </label>
      <input [(ngModel)]="lastName"
             name="Last Name"
             id="Last Name"
             type="text"
             placeholder="Last Name"
             class="form-control"/>
      <label for="phone">
        Phone Number
      </label>
      <input [(ngModel)]="phone"
             name="phone"
             id="phone"
             type="tel"
             placeholder="xxx-xxx-xxxx"
             class="form-control"/>
      <label for="DOB">
        Birthday
      </label>
      <input [(ngModel)]="DOB"
             name="DOB"
             id="DOB"
             type="date"
             class="form-control"/>
    </div>
    <div class="form-control form-group">
      <label>Current User Type:</label>
      <div class='radio-inline'>
        {{userType}}
      </div>
    </div>
    <div class="form-group form-control">
      <label>Change User Type:</label>

      <label class="radio-inline">
        <input type="radio" name="optradio" value='AMATEUR' [(ngModel)]="type" >Amateur Astronomer
      </label>

      <label class="radio-inline">
        <input type="radio" name="optradio" value='PROFESSIONAL' [(ngModel)]="type" >Professional Astronomer
      </label>

      <label class="radio-inline">
        <input type="radio" name="optradio" value='ORGANIZATION' [(ngModel)]="type" >Space Organization
      </label>

      <label class="radio-inline">
        <input type="radio" name="optradio" value='UNIVERSITY' [(ngModel)]="type" >University
      </label>
    </div>
  </form>
  <button class="btn btn-success btn-block jj-button-hover"
          aria-pressed="true"
          (click)="commit(username, email, firstName, lastName, phone, DOB, type)">
    Submit Changes
  </button>
  <button class="btn btn-danger btn-block jj-button-hover"
          aria-pressed="true"
          (click)="deleteUser(userId)">
    Delete Account
  </button>
</div>
