<app-space-banner-default></app-space-banner-default>
<div class="col-sm-3 container-fluid">
<div *ngIf="dataReady">
  <div class="container-fluid row">
    <div *ngIf="birthday"
         class="alert alert-danger">
      {{birthdayMsg}}
    </div>
    <div class="col-sm-3">
    <button class="jj-button-profile jj-card" (click)="editProfile()">
      <img class="jj-img-padding mb-img-max" src="{{objData.picture}}">
      <div class="jj-container">
        <div [ngSwitch]="objType">
          <div *ngSwitchCase="'user'">
            <h4><b>{{objData.firstName}} {{objData.lastName}}</b></h4>
          </div>
          <div *ngSwitchCase="'cb'">
            <h4><b>{{objData.name}} {{objData.region}}</b></h4>
          </div>
          <div *ngSwitchCase="'ce'">
            <h4><b>{{objData.name}} {{objData.region}}</b></h4>
          </div>
        </div>
      </div>
    </button>
    <div [ngSwitch]="objType">
      <div *ngSwitchCase="'user'">
        <!--Date of Birth: {{objData.DOB}}-->
      </div>
      <div *ngSwitchCase="'cb'">
        {{objData.wiki}}
      </div>
      <div *ngSwitchCase="'ce'">
        {{objData.wiki}}
      </div>
    </div>
      <button routerLink="/new" class="btn btn-success">+</button>
      <div *ngIf="authorized()">
      <button routerLink="/edit/{{this.objId}}" class="btn btn-warning">Edit</button>
      </div>
  </div>
  </div>
  <div class="container-fluid">
    <h2>FOLLOWS</h2>
    <div *ngFor="let user of follows">
      <button class="jj-button-profile" (click)="goToUserProfile(user._id)"><img class="jj-follows"
                                                                                 src="{{user.picture}}"/>
        <p>{{user.firstName}} {{user.lastName}}</p>
      </button>
      <button class="jj-button-profile" (click)="deleteFollow(user._id)"><span
        class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>

  <!--<button class="btn btn-warning btn-block jj-button-hover"-->
  <!--aria-pressed="true"-->
  <!--(click)="logout()">-->
  <!--Logout-->
  <!--</button>-->
  <!--<button class="btn btn-info btn-block jj-button-hover"-->
  <!--aria-pressed="true"-->
  <!--(click)="search()">-->
  <!--Search-->
  <!--</button>-->
  <button class=" jj-button-profile"
          aria-pressed="true"
          (click)="goToAlbums()">
    <p>{{user.firstName}}'s Photos</p>
      <span class="glyphicon glyphicon-picture"></span>
  </button>
</div>
</div>


<div class = "col-sm-9 mh-paddingAwayFromNavBar">
  <div *ngIf="albumReady" align="center">
    <app-album-carousel [albumid]="albumid"></app-album-carousel>
  </div>
  <div class="container-fluid">
    <div *ngIf="ifIdEqualPosterId()">
      <app-create-post></app-create-post>
    </div>
  </div>
  <app-post-list [posts]="postsInPublicProfile" [IDfromProfile]="objId"></app-post-list>
</div>

