.mh-h1 {
  margin-top: 0px;
  font-size: 230%;
  text-align: center;
}

.jj-form {
  width: 500px;
  margin: 0 auto;
}

.mb-search-result-box {
  padding: 5px;
  background: lightgray;
  margin: 5px;
}


