<app-space-banner-default></app-space-banner-default>
<div *ngIf="errorFlag"
     class="alert alert-danger">
  {{errorMessage}}
</div>
<div class="container-fluid">
<form #f="ngForm">
  Select Object to Create:
  <div class="form-group form-control">

    <label>Obj Type:</label>

    <label class="radio-inline" *ngIf="loggedInUserType === 'ADMIN'">
      <input type="radio" name="optradio" value='User' [(ngModel)]="objType" >User
    </label>

    <label class="radio-inline">
      <input type="radio" name="optradio" value='Cb' [(ngModel)]="objType" >Celestial Body
    </label>

    <label class="radio-inline" *ngIf="loggedInUserType !== 'PROFESSIONAL'">
      <input type="radio" name="optradio" value='Ce' [(ngModel)]="objType" >Celestial Event
    </label>

    <label class="radio-inline" *ngIf="loggedInUserType === 'ADMIN' || loggedInUserType === 'UNIVERSITY'">
      <input type="radio" name="optradio" value='Pub' [(ngModel)]="objType" >Publication
    </label>
</div>


  <div [ngSwitch]="objType">
    <div *ngSwitchCase="'User'">
      <div class="form-group form-control">
        <label>User Type:</label>

        <label class="radio-inline">
          <input type="radio" name="optradio" value='AMATEUR' [(ngModel)]="userType" >Amateur Astronomer
        </label>

        <label class="radio-inline">
          <input type="radio" name="optradio" value='PROFESSIONAL' [(ngModel)]="userType" >Professional Astronomer
        </label>

        <label class="radio-inline">
          <input type="radio" name="optradio" value='ORGANIZATION' [(ngModel)]="userType" >Space Organization
        </label>

        <label class="radio-inline">
          <input type="radio" name="optradio" value='UNIVERSITY' [(ngModel)]="userType" >University
        </label>

      </div>
      <input name="username"
             id="username"
             type="text"
             placeholder="username"
             class="form-control"
             ngModel
             required
             #username="ngModel"/>

      <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>

      <input name="password"
             id="password"
             type="password"
             placeholder="password"
             class="form-control"
             ngModel
             required
             #password="ngModel"/>

      <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>
      <input name="verify password"
             id="verify_password"
             type="password"
             placeholder="verify password"
             class="form-control"
             ngModel
             required
             #verify_password="ngModel">

      <span class="help-block" *ngIf="!verify_password.valid && verify_password.touched">
      Please enter password!
    </span>
      <span class="help-block" *ngIf="verify_password.value != password.value">
      Passwords do not match!
    </span>

      <input name="email"
             id="email"
             type="text"
             placeholder="email"
             class="form-control"
             ngModel
             required
             #email="ngModel"/>

      <span class="help-block" *ngIf="!email.valid && email.touched">
      Please enter email!
    </span>
      <input name="firstName"
             id="firstName"
             type="text"
             placeholder="first name"
             class="form-control"
             ngModel
             required
             #firstName="ngModel"/>

      <span class="help-block" *ngIf="!firstName.valid && firstName.touched">
      Please enter first name!
    </span>
      <input name="lastName"
             id="lastName"
             type="text"
             placeholder="last name"
             class="form-control"
             ngModel
             required
             #lastName="ngModel"/>

      <span class="help-block" *ngIf="!lastName.valid && lastName.touched">
      Please enter last name!
    </span>
      <input name="DOB"
             id="DOB"
             type="date"
             class="form-control"
             ngModel
             required
             #DOB="ngModel"/>
      <input name="phone"
             id="phone"
             type="tel"
             placeholder="xxx-xxx-xxxx"
             class="form-control"
             ngModel
             required
             #phone="ngModel"/>
    </div>
    <div *ngSwitchCase="'Cb'">
      <input name="cbname"
             id="cbname"
             type="text"
             placeholder="name"
             class="form-control"
             ngModel
             required
             #cbname="ngModel"/>

      <span class="help-block" *ngIf="!cbname.valid && cbname.touched">
      Please enter name!
    </span>


      <input name="region"
             id="region"
             type="text"
             placeholder="region"
             class="form-control"
             ngModel
             required
             #region="ngModel"/>

      <span class="help-block" *ngIf="!region.valid && region.touched">
      Please enter region!
    </span>
      <input name="types"
             id="types"
             type="text"
             placeholder="types"
             class="form-control"
             ngModel
             required
             #types="ngModel"/>

      <span class="help-block" *ngIf="!types.valid && types.touched">
      Please enter types, comma seperated!
    </span>
      <input name="wiki"
             id="wiki"
             type="text"
             placeholder="wiki link"
             class="form-control"
             ngModel
             required
             #wiki="ngModel"/>

      <span class="help-block" *ngIf="!wiki.valid && wiki.touched">
      Please enter wiki link!
    </span>
      <input name="picture"
             id="picture"
             type="text"
             placeholder="picture url"
             class="form-control"
             ngModel
             required
             #picture="ngModel"/>

    </div>
    <div *ngSwitchCase="'Ce'">
      <input name="cename"
             id="cename"
             type="text"
             placeholder="name"
             class="form-control"
             ngModel
             required
             #cename="ngModel"/>

      <span class="help-block" *ngIf="!cename.valid && cename.touched">
      Please enter name!
    </span>


      <input name="ceregion"
             id="ceregion"
             type="text"
             placeholder="region"
             class="form-control"
             ngModel
             required
             #ceregion="ngModel"/>

      <span class="help-block" *ngIf="!ceregion.valid && ceregion.touched">
      Please enter region!
    </span>
      <input name="cetypes"
             id="cetypes"
             type="text"
             placeholder="types"
             class="form-control"
             ngModel
             required
             #cetypes="ngModel"/>

      <span class="help-block" *ngIf="!cetypes.valid && cetypes.touched">
      Please enter types, comma seperated!
    </span>
      <input name="cewiki"
             id="cewiki"
             type="text"
             placeholder="wiki link"
             class="form-control"
             ngModel
             required
             #cewiki="ngModel"/>

      <span class="help-block" *ngIf="!cewiki.valid && cewiki.touched">
      Please enter wiki link!
    </span>
      <input name="cepicture"
             id="cepicture"
             type="text"
             placeholder="picture url"
             class="form-control"
             ngModel
             required
             #cepicture="ngModel"/>
      <label for="cestart">Starts:</label>
      <input name="cestart"
             id="cestart"
             type="date"
             class="form-control"
             ngModel
             required
             #cestart="ngModel"/>
      <label for="ceend">Ends:</label>
      <input name="ceend"
             id="ceend"
             type="date"
             class="form-control"
             ngModel
             required
             #ceend="ngModel"/>
    </div>
    <div *ngSwitchCase="'Pub'">
      <input name="pubname"
             id="pubname"
             type="text"
             placeholder="name"
             class="form-control"
             ngModel
             required
             #pubname="ngModel"/>

      <span class="help-block" *ngIf="!pubname.valid && pubname.touched">
      Please enter name!
    </span>


      <input name="pubauthors"
             id="pubauthors"
             type="text"
             placeholder="authors"
             class="form-control"
             ngModel
             required
             #pubauthors="ngModel"/>

      <span class="help-block" *ngIf="!pubauthors.valid && pubauthors.touched">
      Please enter authors, comma seperated!
    </span>
      <input name="pubtags"
             id="pubtags"
             type="text"
             placeholder="tags"
             class="form-control"
             ngModel
             required
             #pubtags="ngModel"/>

      <span class="help-block" *ngIf="!pubtags.valid && pubtags.touched">
      Please enter tags, comma seperated!
    </span>
      <input name="publink"
             id="publink"
             type="text"
             placeholder="link"
             class="form-control"
             ngModel
             required
             #publink="ngModel"/>

      <span class="help-block" *ngIf="!publink.valid && publink.touched">
      Please enter link!
    </span>
      <input name="pubabstract"
             id="pubabstract"
             type="text"
             placeholder="link"
             class="form-control"
             ngModel
             required
             #pubabstract="ngModel"/>

      <span class="help-block" *ngIf="!pubabstract.valid && pubabstract.touched">
      Please enter abstract!
    </span>
      <label for="pubdate">Publish Date:</label>
      <input name="pubdate"
             id="pubdate"
             type="date"
             class="form-control"
             ngModel
             required
             #pubdate="ngModel"/>
    </div>
    <div *ngSwitchDefault="">
      Select a type of object to create
    </div>
  </div>
  <button type="submit" class="btn btn-default" (click)="create()">Create</button>
</form>
</div>
