<div class = "mb-search-result-box mh-roundedCorners">
  <h4>{{text}}</h4>
  <h3 class = 'jj-font'> Current Altitude: {{likes}} kilometers
    <button class = "btn btn-primary" (click)="likeThisPost()">Give More Rocket Fuel</button></h3>
  <label>Tags</label>
  <div *ngFor = "let aTag of tags">
    <a class="jj-fontv2" (click)="navigateToTag(aTag)">{{aTag}}</a>
  </div>
  <div *ngIf="ifIdEqualPosterId()">
    <button (click)="removeMyTag()" class = "btn btn-danger moh-btnWidthPlusMarginV2WithFinalFrontierFont">
      Remove My Tag</button>
  </div>
  <label>Posted on {{date}}</label>
</div>
