<!DOCTYPE html>

<div class="container-fluid jj-font">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Register</h1>
  <form (ngSubmit)="register(username.value, password.value, email.value, firstName.value, lastName.value, DOB.value, userType)" #f="ngForm">
    <div class="form-group form-control">
      <label>User Type:</label>

      <label class="radio-inline">
        <input type="radio" name="optradio" value='AMATEUR' [(ngModel)]="userType" >Amateur Astronomer
      </label>

      <label class="radio-inline">
        <input type="radio" name="optradio" value='PROFESSIONAL' [(ngModel)]="userType" >Professional Astronomer
      </label>

      <label class="radio-inline">
        <input type="radio" name="optradio" value='ORGANIZATION' [(ngModel)]="userType" >Space Organization
      </label>

      <label class="radio-inline">
        <input type="radio" name="optradio" value='UNIVERSITY' [(ngModel)]="userType" >University
      </label>

    </div>
    <input name="username"
           id="username"
           type="text"
           placeholder="username"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>

    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>

    <input name="password"
           id="password"
           type="password"
           placeholder="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>

    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>
    <input name="verify password"
           id="verify_password"
           type="password"
           placeholder="verify password"
           class="form-control"
           ngModel
           required
           #verify_password="ngModel">

    <span class="help-block" *ngIf="!verify_password.valid && verify_password.touched">
      Please enter password!
    </span>
    <span class="help-block" *ngIf="verify_password.value != password.value">
      Passwords do not match!
    </span>

    <input name="email"
           id="email"
           type="text"
           placeholder="email"
           class="form-control"
           ngModel
           required
           #email="ngModel"/>

    <span class="help-block" *ngIf="!email.valid && email.touched">
      Please enter email!
    </span>
    <input name="firstName"
           id="firstName"
           type="text"
           placeholder="first name"
           class="form-control"
           ngModel
           required
           #firstName="ngModel"/>

    <span class="help-block" *ngIf="!firstName.valid && firstName.touched">
      Please enter first name!
    </span>
    <input name="lastName"
           id="lastName"
           type="text"
           placeholder="last name"
           class="form-control"
           ngModel
           required
           #lastName="ngModel"/>

    <span class="help-block" *ngIf="!lastName.valid && lastName.touched">
      Please enter last name!
    </span>
    <input name="DOB"
           id="DOB"
           type="date"
           class="form-control"
           ngModel
           required
           #DOB="ngModel"/>
    <input name="phone"
           id="phone"
           type="tel"
           placeholder="xxx-xxx-xxxx"
           class="form-control"
           ngModel
           required
           #phone="ngModel"/>

  </form>
  <button (click)="registered(username.value, password.value, firstName.value, lastName.value, email.value, DOB.value, phone.value, userType)"
          class="btn btn-primary btn-block jj-button-hover"
          type="submit"
          aria-pressed="true"
          [disabled]="!f.valid">
    Register
  </button>

  <button class="btn btn-danger btn-block jj-button-hover"
          aria-pressed="true"
          [routerLink]="['']">
    Cancel
  </button>
</div>
